#flex-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 60px;
    margin-bottom: 2rem;
    z-index: 0;
    position: relative;

}



#flex-item {
    width: 22%;
    text-align: center;
    box-shadow: 0 0 3px 0 #c7c9cf;
    border-radius: 10px;
    padding: 1.5rem;
    height: 340px;
    top: 15px;
    position: relative;
    overflow: hidden;
    transform: scale(.9)!important;
}

#flex-item:hover {
    box-shadow: 0 0 3px 0 #bdc2ca;
    cursor: pointer;
}

#product-head>img {
    width: 11rem;
    height: 7rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    width: 11rem;
    height: 11rem;
    border-radius: 10px;
    box-shadow: 0 3px 0 transparent;
    margin-bottom: 4.5rem;
    transform: scale(1);
    transition: all .3s;
    position: relative;
    top: 20px;
}

#flex-item:hover #product-head>img {
    transform: scale(.989);
    cursor: pointer;
    transition: all .1s;
}

#product-head>h2 {
    font-size: 17px;
    position: absolute;
    right: 0px;
    left: 0px;
    direction: rtl !important;
    display: flex;
    font-weight: 300;
    border-top-right-radius: 0px;
    top: 280px;
    border-top-left-radius: 0px;
    justify-content: center;
    height: 35px;
    padding-top: 14px;
    color: white;
    background-color: #20262e;
}

#product-info {
    margin-top: 3.5rem;
}

#product-info>h2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    right: 0px;
    border-bottom-right-radius: 10px;
    height: 35px;
    padding-top: 13px;
    top: 325px;
    color: white;
    background-color: #20262e;
    font-weight: 500 !important;
    direction: rtl !important;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 0px;
}

#tooman-span {
    font-family: 'dana';
    color: #707070;
    right: 50px;
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    direction: ltr;
    bottom: 20px;
    word-spacing: 0px;
}

#dolar-span {
    position: absolute;
    word-spacing: -3px !important;
    margin-right: -29px !important;
}

#price-span {
    color: #707070;
    right: 10px;
    position: absolute;
    font-size: 15px;
    direction: ltr;
    bottom: 14px;
    font-family: 'IRY';
    padding: 4px;
    letter-spacing: -1.5px;
    font-weight: 500;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#shopping-cart {
    position: absolute;
    right: -108px;
    bottom: 228px;
    font-size: 1.9rem;

    color: #ffffff;
    border-radius: 15px;
    transform: scale(2) rotate(-359.9deg);
    padding: 15px;
    transition: all .2s;
    background-color: #083391;

    box-shadow: 1px 1px 2px 1px #585858;
    z-index: 44444444444444 !important;
}

#favorite {
    position: absolute;
    right: -108px;
    bottom: 168px;
    font-size: 1.9rem;
    background-color: #f7f7f7;
    color: #f5eaea;
    border-radius: 15px;
    background-color: #9e0e0e;
    transform: scale(2) rotate(-359.9deg);
    padding: 15px;
    z-index: 44444444444444 !important;
    transition: all .2s;
    box-shadow: 1px 1px 2px 1px #585858;
}

#flex-item:hover #link {
 color: black;
    transition: all .5s;  
}

#flex-item:hover #link::after {
    bottom: 50px !important;
    transition-delay: 17s!important;
    transition: all 1s!important;

}

#flex-item:hover #link::before {
    transition-delay: 0s!important;
    transition: all .6s!important;
    bottom: 288px !important;  
}

#link {
    position: absolute;
    right: -110px !important;
    bottom: -120px;
    font-size: 9px;
    left: 95px !important;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    z-index: -1 !important;
    background-color: red;
    transition: all .2s;
    width: 60%;
    max-width: 200px !important;  
    cursor: pointer;
    color: transparent;
    transform: scale(2) !important;
    overflow: visible !important;
transition: all 20s;

}

#link::before {
    position: absolute;
    right: 0px !important;
    bottom: 188px !important;
    left: -40px !important;
    background-color: #101316;
    width: 100%; 
    margin-right: auto;
    margin-left: auto;
    height: 50% !important;
    opacity: .93 !important;
    position: absolute;
    content: '';
    z-index: -24444 !important;
border-bottom: 1px solid rgb(48, 50, 53);
    padding: 28px!important;
    transition-delay: 0s!important;
    transition: all .3s!important;
}

#link::after {
    position: absolute;
    right: 0px !important;
    bottom: 116px !important;
    left: -40px !important;
    background-color: #101316;
    width: 100%;
    padding: 0px !important;
    margin-right: auto;
    margin-left: auto;
    height:50% !important;
    opacity: .92 !important;
    position: absolute;
    content: '';
    z-index: -2588554444 !important;
    transition-delay: 4s!important;
    transition: all 1s!important;

    padding: 26px!important;
}

#favorite:hover {

    cursor: pointer;
    background-color: #860707;
    transition: all .01s;
    transform: scale(.64) rotate(359.99deg) !important;
}

#link:hover {
    cursor: pointer;
    color: #444343;
    transition: all .1s;
}

#flex-item:hover #shopping-cart {
    right: 3px;
    cursor: pointer;
    right: 6px;
    transform: scale(.64) rotate(0deg);

    transition: all .2s;
}

#flex-item:hover #favorite {
    right: 3px;
    transform: scale(.64) rotate(0deg);
    cursor: pointer;
    transition: all .2s;
}

#favorite:active {
    transform: scale(.62) rotate(359.99deg) !important;
    transition: all .1s;
}

#shopping-cart:hover {
    transition: all .01s;
    transform: scale(.64) rotate(359.99deg) !important;
    cursor: pointer;
    background-color: #0b3285;

}

#shopping-cart:active {
    transform: scale(.62) rotate(359.99deg) !important;
    transition: all .1s;
}

@media (max-width: 1250px) {
    #flex-item {
        width: 22%;
     
    }
}

@media (max-width: 992px) {
    #flex-item {
        width: 40%;
    }

    #flex-container {
        z-index: 0;
        position: relative;

        margin-top: 0px !important;

    }
}

@media (max-width: 650px) {
    #flex-item {
        width: 80%;
    }

    #flex-container {
        z-index: 0;
        position: relative;

        margin-top: 0px !important;
    }
}

@media (max-width: 450px) {
    #flex-item {
        width: 90%;
    }
}